

<div class="container">
  <div class="card-category my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @cocktail.photo %>)">
    <%= @cocktail.name %>

  </div>

  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li class="list-ingredient">
      <p><%= dose.ingredient.name %> : <%= dose.description %> <%= link_to 'Delete', dose_path(dose), class:"btn btn-danger mx-3", method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </li>
    <% end %>
  </ul>
  <h3 style="text-align: center;" class="m-2">Add an ingredient</h3>
  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.input :description %>

    <%= f.association :ingredient %>

    <%= f.submit %>
  <% end %>

  <%= link_to "Back", cocktails_path %>
</div>

